<nav class="nav navbar navbar-light bg-Success "s>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h1 style="font-size: 30px;"><b><img src = "images/logo.png" width = "150px"alt="."></b></h1></a>
    <form class="d-flex">
        <a class="nav-link dropdown-toggle" href="#navbarDropdownMenuLink" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = " color: white">
          Login / Register
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: 950px;">
          
          <li><a class="dropdown-item " href="/register">Register</a></li>
          <li><a class="dropdown-item " href="/login">Login</a></li>
        </ul>
    </form>
  </div>
</nav>