<nav class="navbar navbar-light bg-Success">
  <div class="container-fluid">
    <a class="navbar-brand " href="/admin"><h1 style="font-size: 30px;">Medicare</h1></a>
    <form class="d-flex">
      <a class="nav-link" href="#navbar"role="button" data-bs-toggle="dropdown" aria-expanded="true">Doctor</a>
      <ul class="dropdown-menu" aria-labelledby="navbar">
        <li><a class="dropdown-item" href="">Add Doctor</a></li>
        <li><a class="dropdown-item" href="">View Doctor</a></li>
      </ul>
    </form>
  
    
    <form class="d-flex">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login / Register
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: 1400px;">
          
          <li><a class="dropdown-item " href="/register">Register</a></li>
          <li><a class="dropdown-item " href="/login">Login</a></li>
        </ul>
    </form>
  </div>
</nav>