
<div class="main-sidebar">
  
  <div class="user-panel text-center">
    
    <a href="http://"></a>
  </div>
  <ul class="treeview">
   <li><a href="/admin">About</a></li> 
   <li><a href="/Doc">Add Doctor</a></li> 
   <li><a href="/Deldoc">Delete Doctor</a></li> 
   <li> <a href="/LisDoc">List Doctor</a></li> 
   <li> <a href="/departmentForm">Add Clinic</a></li> 
   <li> <a href="/Lisclinic">List Clinic</a></li> 
   <li> <a href="/Delclinic">Delete Clinic</a></li> 
  <li> <a href="/Lispatient">Patient List</a></li> 
   <li> <a href="/Delpatient">Delete Patient</a></li> 
  </ul>
</div>

  <!-- Content Header (Page header) -->
  <section id="content-header">

      <div class="content-wrapper">
        <div class="hamburger">
               
          <!-- <svg focusable="false"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg> -->
          <img class="cross" src="images/cross.png" width="30px" alt="">
          <img class="ham" src="images/hamsign.png"   width="30px" alt="">
        </div>
      </div>
  </section>
   
 <!-- Page content-->
