<%- include('partials/header') %>
<%- include('partials/navbar2') %>
<%- include('partials/sidebar') %>
<div class="" >
<div style="margin-left: 150.;margin-left: 600px;margin-top: 10px;">
    <h1>About us</h1>

</div>





</div>
<%- include('partials/footer') %>