<!-- modal1 -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" margin-top="70px">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">List the Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="http://en.wikipedia.org/wiki/Saliva_testing"><li>Saliva Test</li></a>
        <a href="http://en.wikipedia.org/wiki/Endoscopy"><li>Endoscopy</li></a>
        <a href="https://truehealthlabs.com/product/toxic-heavy-metals-whole-blood-europe/"><li>Heavy Metals Blood Test</li></a>
      
        <a href="https://en.wikipedia.org/wiki/Hair_analysis"><li>Hair Mineral Analysis</li></a>
        <a href="https://truehealthlabs.com/product/toxic-heavy-metals-whole-blood-europe/"><li>Heavy Metals Blood Test</li></a>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal2 -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">//
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Available Servicers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <li>lab Test</li>
        <li>List Of Doctor</li>
        
        
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal3 -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Contact us </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
        <a href="mailto:ayush2020@vitbhopal.ac.in"><li>Mail to</li></a>
        <a href="tel:+91884009906"><Li>Phone</Li></a>
        </ul>
       
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Card1 -->

<clas class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="margin-top: 85px;margin-left: 19px;margin-right: 40px;">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Lab Tests</h4> 
        </div>
       
        <div class="card-body">
          
          
          <img src="images/lab.png" width="190rem" alt="">
          <a href="#exampleModalToggle" class="btn btn-primary w-100  btn-outline-danger" data-bs-toggle="modal"><button type="button" class="w-100 btn btn-lg btn-outline-danger"><p class = "text1">List the test</p></button></a>
         
        </div>
      </div>
    </div>
    <!-- card 2 -->
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Available Servicers</h4>
        </div>
        <div class="card-body">
          <img src="images/doc.png" width="60rem" alt="">
          
          
          
          <a href="#exampleModalToggle2" style="margin-top: 2rem;" class="btn btn-primary w-100  btn-outline-danger" data-bs-toggle="modal"><button type="button" class="w-10 btn btn-lg btn-outline-danger"><p class = "text1">Available Services</p></button></a>
        </div>
      </div>
    </div>
    <!-- card 3 -->
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm ">
        <div class="card-header py-3  ">
          <h4 class="my-0 fw-normal">Contact Us </h4>
        </div>
        <div class="card-body">
        
          <ul class="list-unstyled mt-3 mb-4">
           
            <i class="social-icon fas fa-envelope fa-6x"></i>
            
          </ul>
          
          <a href="#exampleModalToggle3" class="btn btn-primary w-100  btn-outline-success" data-bs-toggle="modal"><button type="button" class="w-100 btn btn-lg btn-outline-danger"><p class="text1">Contact us</p></button></a>
        </div>
      </div>
    </div>
    

