<div class="container" width="10%">
  <div id="testmorial" class="carousel slide size" data-bs-ride="carousel"style="height: 225px; width: 400px; margin-left: 50px;margin-right: 291px">
    <div class="carousel-inner" left:0px;>
      <div class="carousel-item active">
        <a href="https://www.practo.com/healthfeed/eating-right-to-build-immunity-against-cold-and-viral-infections-40908/post"><img src="images/vitamin.png" class="d-block " alt="..."></a>

      </div>
      <div class="carousel-item">
        <a href="https://www.practo.com/healthfeed/12-coronavirus-myths-and-facts-that-you-should-be-aware-of-40556/post"><img src="images/corona.png" class="d-block" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="https://economictimes.indiatimes.com/magazines/panache/a-manual-for-diabetes-patients-to-survive-scorching-summer-avoid-sun-burns-eat-more-salads-fruits/articleshow/91001751.cms"><img src="images/diabetes.png" class="d-block "></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testmorial" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testmorial" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>


  

<!-- <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="" src="images/h1.png" class="d-block w-100" alt="...">
        </div>
      
        <div class="carousel-item">
          <img class="c-img" src="images/h3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testmorial" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testmorial" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->